@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
img{
    max-width: 100%;
}
header{
    background-image: url(../img/Banner.jpg);
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
}
header::after{
    content: "";
    background-color: #0000008a;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 1;
}
.top-header{
    z-index: 2 !important;
    position: relative;
}
.logo img{
    width: 120px;
}
.logo{}
.menu{}
.menu ul{}
.menu ul li{
    transition: all 0.8s ease;
}
.menu ul li a{
    font-weight: 600;
}
.take-action{
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 0px 15px;
}
.take-action:hover{
    background-color: #FB2056;
    border: 2px solid #FB2056;
}
.hover a{
    transition: all 0.8s ease;
    opacity: 0px;
}
.hover a:hover{
    border-bottom: 3px solid #FB2056;
    width: 100%;
    border: center;
    color: #FB2056 !important;
    padding: 3px;

}

.banner{
    text-align: center;
    padding-top: 150px;
    position: absolute;
    z-index: 2 !important;
    color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
}
.content{
    position: relative;
}
.banner .content h4{
    font-family: 'Source Serif Pro', serif !important;
    font-style: italic;
    font-size: 20px;
    position: relative;
}
.banner .content hr{
    position: relative;
    background: #FB2056;
    top: -5px;
    left: 0;
    width: 20%;
    padding: .5px;
}
.content2{}
.banner .content2 h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
}
.banner .content2 button{
    margin: 20px 0 0 0;
    padding: 8px 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    border-radius: 40px;
    transition: all 0.8s ease;
}
.banner .content2 button:hover{
    background-color: #FB2056;
    border: 2px solid #FB2056;
}
.testimonial{
    background: #f1f1f1;
    padding: 30px 0px;
    position: relative;
}
.testimonial::before{
    content: "";
    background-image: url(../img/quotation.png);
    height: 40%;
    width: 40%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 30%;
    left: 20%;
}

.testimonial h3{
    color: #4c4c4c;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Source Serif Pro', serif !important;
    font-style: italic;
    padding-bottom: 15px;
}
.testimonial h2{
    color: #4c4c4c;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}
.event hr{
    background: #FB2056;
    width: 10%;
    padding: .5px;
}
.event{
    padding: 70px 0px;
}
.event h1{
    text-align: center;
}
.event-pic{}
.event-pic img{}
.event-card{}
.event-card h3{
    padding: 50px 0px 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #525252;
}
.event-card p{
    text-align: center;
    font-size: 18px;
    max-width: 70%;
    margin: 0 auto;
    color: #525252;
}
.event-card a{}
.event-card a::after{
    content: "";
    height: 100%;
    width: 100%;
}
.event-pic{
    box-shadow: 5px 5px 5px #8a8a8a;
}
.event-pic img{
    max-width: 100%;
}
.event-content{
    padding-top: 70px;
}
.learn-more{
    text-align: center;
    color: white;
    padding: 10px 0px;
    vertical-align: middle;
    transition: all 0.4s ease;
    position: absolute;
}
.learn-more a{
    text-decoration: none !important;
    color: white;
    font-weight: 500;
    transition: all 0.4s ease;
}
.learn-more:hover{
    padding: 30px 0px;
}
.learn-more a:hover{
    padding-right: 8px;
    color: red;

}
.learn-more i{}
.explore{
    background-image: url(../img/Explore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    padding: 80px 0px;
    background-position: right;
    position: relative;
}
.explore h1{
    color: #fff;
}
.explore hr{
    background: #FB2056;
    width: 10%;
    padding: .5px;
    position: absolute;
}
.explore p{
    color: #fff;
    padding-top: 35px;
}
footer{
    background-color: #000;
    padding: 20px;
}
footer p{
    text-align: center;
    color: #fff;
}
.tour{
    
padding: 70px 0px;
}
.tour .head h1{
    text-align: center;
    
}
.tour .head hr{
    background: #FB2056;
    width: 10%;
    padding: .5px;

}
.left-content h1{
    position: relative;
}
.tour .head{
    padding-bottom: 70px;
}
.left-content hr{
    background: #FB2056;
    width: 10%;
    padding: .5px;
    position: absolute;
}
.tour p{
    padding: 40px 0px 20px;
}
.tour button{}
.tour button{
    margin: 20px 0 0 0;
    padding: 8px 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    border-radius: 40px;
    transition: all 0.8s ease;
    background-color: #FB2056;
    border: 2px solid #FB2056;
}
.tour button:hover{
    background-color: transparent;
    border: 2px solid #FB2056;
    color: #FB2056;
}
.img1{
    padding-bottom: 20px;
}
.img2{
    padding-bottom: 20px;
}
.img1 img{}
.img2 img{}

